@font-face {
    font-family: fontawesome;
    src: url(../fonts/fontawesome-webfont.eot?v=4.3.0);
    src: url(../fonts/fontawesome-webfont.eot?#iefix&v=4.3.0) format("embedded-opentype"), url(../fonts/fontawesome-webfont.woff2?v=4.3.0) format("woff2"), url(../fonts/fontawesome-webfont.woff?v=4.3.0) format("woff"), url(../fonts/fontawesome-webfont.ttf?v=4.3.0) format("truetype"), url(../fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular) format("svg");
    font-weight: 400;
    font-style: normal
}

body,
button {
    margin: 0
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%
}

img {
    max-width: 100%
}

svg {
    max-height: 100%
}

input,
select,
textarea,
fieldset {
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 0
}

.fieldset-reset {
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    border: 0
}

.fieldset-reset legend {
    padding: 0
}

button,
.button {
    font-size: inherit;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    box-sizing: border-box;
    line-height: 1.125rem;
    padding: .5rem 1rem;
    margin: 0;
    height: auto;
    border: 1px solid transparent;
    vertical-align: middle;
    -webkit-appearance: none
}

button:after,
button:before,
.button:after,
.button:before {
    box-sizing: border-box
}

::-moz-focus-inner {
    border: 0;
    padding: 0
}

.button:hover {
    text-decoration: none
}

table {
    border-collapse: separate;
    border-spacing: 0;
    max-width: 100%;
    width: 100%
}

th {
    text-align: left;
    font-weight: 700
}

th,
td {
    padding: .25rem 1rem;
    line-height: inherit
}

th {
    vertical-align: bottom
}

td {
    vertical-align: top
}

body {
    font-family: helvetica neue, Helvetica, sans-serif;
    line-height: 1.5;
    font-size: 100%
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: helvetica neue, Helvetica, sans-serif;
    font-weight: 700;
    line-height: 1.25;
    margin-top: 1em;
    margin-bottom: .5em
}

p,
dl,
ol,
ul {
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 1rem
}

pre,
code,
samp {
    font-family: source code pro, Consolas, monospace;
    font-size: inherit
}

pre {
    margin-top: 0;
    margin-bottom: 1rem;
    overflow-x: scroll
}

hr {
    margin-top: 2rem;
    margin-bottom: 2rem
}

h1,
.h1 {
    font-size: 2rem
}

h2,
.h2 {
    font-size: 1.5rem
}

h3,
.h3 {
    font-size: 1.25rem
}

h4,
.h4 {
    font-size: 1rem
}

h5,
.h5 {
    font-size: .875rem
}

h6,
.h6 {
    font-size: .75rem
}

.list-reset {
    list-style: none;
    padding-left: 0
}

.inline {
    display: inline
}

.block {
    display: block
}

.inline-block {
    display: inline-block
}

.overflow-hidden {
    overflow: hidden
}

.overflow-scroll {
    overflow: scroll
}

.overflow-auto {
    overflow: auto
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table
}

.clearfix:after {
    clear: both
}

.left {
    float: left
}

.right {
    float: right
}

.fit {
    max-width: 100%
}

.half-width {
    width: 50%
}

.full-width {
    width: 100%
}

.bold {
    font-weight: 700
}

.regular {
    font-weight: 400
}

.italic {
    font-style: italic
}

.caps {
    text-transform: uppercase;
    letter-spacing: .2em
}

.left-align {
    text-align: left
}

.center {
    text-align: center
}

.right-align {
    text-align: right
}

.justify {
    text-align: justify
}

.nowrap {
    white-space: nowrap
}

.m0 {
    margin: 0
}

.mt0 {
    margin-top: 0
}

.mr0 {
    margin-right: 0
}

.mb0 {
    margin-bottom: 0
}

.ml0 {
    margin-left: 0
}

.m1 {
    margin: .5rem
}

.mt1 {
    margin-top: .5rem
}

.mr1 {
    margin-right: .5rem
}

.mb1 {
    margin-bottom: .5rem
}

.ml1 {
    margin-left: .5rem
}

.m2 {
    margin: 1rem
}

.mt2 {
    margin-top: 1rem
}

.mr2 {
    margin-right: 1rem
}

.mb2 {
    margin-bottom: 1rem
}

.m3 {
    margin: 2rem
}

.mt3 {
    margin-top: 2rem
}

.mr3 {
    margin-right: 2rem
}

.mb3 {
    margin-bottom: 2rem
}

.ml3 {
    margin-left: 2rem
}

.m4 {
    margin: 4rem
}

.mt4 {
    margin-top: 4rem
}

.mr4 {
    margin-right: 4rem
}

.mb4 {
    margin-bottom: 4rem
}

.ml4 {
    margin-left: 4rem
}

.mxn1 {
    margin-left: -.5rem;
    margin-right: -.5rem
}

.mxn2 {
    margin-left: -1rem;
    margin-right: -1rem
}

.mxn3 {
    margin-left: -2rem;
    margin-right: -2rem
}

.mxn4 {
    margin-left: -4rem;
    margin-right: -4rem
}

.mx-auto {
    margin-left: auto;
    margin-right: auto
}

.p1 {
    padding: .5rem
}

.py1 {
    padding-top: .5rem;
    padding-bottom: .5rem
}

.px1 {
    padding-left: .5rem;
    padding-right: .5rem
}

.p2 {
    padding: 1rem
}

.py2 {
    padding-top: 1rem;
    padding-bottom: 1rem
}

.px2 {
    padding-left: 1rem;
    padding-right: 1rem
}

.p3 {
    padding: 2rem
}

.py3 {
    padding-top: 2rem;
    padding-bottom: 2rem
}

.px3 {
    padding-left: 2rem;
    padding-right: 2rem
}

.display-none {
    display: none
}

.hide {
    position: absolute!important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px)
}

.relative {
    position: relative
}

.absolute {
    position: absolute
}

.fixed {
    position: fixed
}

.top-0 {
    top: 0
}

.right-0 {
    right: 0
}

.bottom-0 {
    bottom: 0
}

.left-0 {
    left: 0
}

.z1 {
    z-index: 1
}

.z2 {
    z-index: 2
}

.z3 {
    z-index: 3
}

.z4 {
    z-index: 4
}

.button-small {
    padding: .25rem .5rem
}

.button-big {
    padding: 1rem 1.25rem
}

.button-narrow {
    padding-left: .5rem;
    padding-right: .5rem
}

.container {
    max-width: 64em;
    margin-left: auto;
    margin-right: auto
}

.col {
    float: left;
    box-sizing: border-box
}

.col-right {
    float: right;
    box-sizing: border-box
}

.col-1 {
    width: 8.33333%
}

.col-2 {
    width: 16.66667%
}

.col-3 {
    width: 25%
}

.col-4 {
    width: 33.33333%
}

.col-5 {
    width: 41.66667%
}

.col-6 {
    width: 50%
}

.col-7 {
    width: 58.33333%
}

.col-8 {
    width: 66.66667%
}

.col-9 {
    width: 75%
}

.col-10 {
    width: 83.33333%
}

.col-11 {
    width: 91.66667%
}

.col-12 {
    width: 100%
}

@media(min-width:40em) {
    .sm-col {
        float: left;
        box-sizing: border-box
    }
    .sm-col-right {
        float: right;
        box-sizing: border-box
    }
    .sm-col-1 {
        width: 8.33333%
    }
    .sm-col-2 {
        width: 16.66667%
    }
    .sm-col-3 {
        width: 25%
    }
    .sm-col-4 {
        width: 33.33333%
    }
    .sm-col-5 {
        width: 41.66667%
    }
    .sm-col-6 {
        width: 50%
    }
    .sm-col-7 {
        width: 58.33333%
    }
    .sm-col-8 {
        width: 66.66667%
    }
    .sm-col-9 {
        width: 75%
    }
    .sm-col-10 {
        width: 83.33333%
    }
    .sm-col-11 {
        width: 91.66667%
    }
    .sm-col-12 {
        width: 100%
    }
}

@media(min-width:52em) {
    .md-col {
        float: left;
        box-sizing: border-box
    }
    .md-col-right {
        float: right;
        box-sizing: border-box
    }
    .md-col-1 {
        width: 8.33333%
    }
    .md-col-2 {
        width: 16.66667%
    }
    .md-col-3 {
        width: 25%
    }
    .md-col-4 {
        width: 33.33333%
    }
    .md-col-5 {
        width: 41.66667%
    }
    .md-col-6 {
        width: 50%
    }
    .md-col-7 {
        width: 58.33333%
    }
    .md-col-8 {
        width: 66.66667%
    }
    .md-col-9 {
        width: 75%
    }
    .md-col-10 {
        width: 83.33333%
    }
    .md-col-11 {
        width: 91.66667%
    }
    .md-col-12 {
        width: 100%
    }
}

@media(min-width:40em) {
    .sm-flex {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex
    }
    .sm-flex>div {
        box-sizing: border-box
    }
}

@media(min-width:52em) {
    .md-flex {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex
    }
    .md-flex>div {
        box-sizing: border-box
    }
}

@media(min-width:64em) {
    .lg-flex {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex
    }
    .lg-flex>div {
        box-sizing: border-box
    }
}

body {
    color: #111;
    background-color: #fff
}

a {
    color: #0074d9;
    text-decoration: none
}

a:hover {
    text-decoration: underline
}

.table-light th,
.table-light td {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(0, 0, 0, .125)
}

.table-light tr:last-child td {
    border-bottom: 0
}

.button-outline {
    position: relative;
    z-index: 2;
    color: inherit;
    background-color: transparent;
    border-radius: 3px;
    border: 1px solid currentcolor;
    -webkit-transition-duration: .1s;
    transition-duration: .1s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-transition-property: box-shadow, background-color;
    transition-property: box-shadow, background-color
}

.button-outline:before {
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;
    border: 1px solid transparent;
    background-color: currentcolor;
    border-radius: 3px;
    -webkit-transition-duration: .1s;
    transition-duration: .1s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    opacity: 0
}

.button-outline:hover {
    box-shadow: none
}

.button-outline:hover:before,
.button-outline:focus:before {
    opacity: .125
}

.button-outline:focus {
    outline: none;
    border: 1px solid currentcolor;
    box-shadow: 0 0 0 2px
}

.button-outline:active,
.button-outline.is-active {
    box-shadow: inset 0 1px 5px 0, 0 0 1px
}

.button-outline:disabled,
.button-outline.is-disabled {
    opacity: .5
}

.button-transparent {
    position: relative;
    z-index: 2;
    color: inherit;
    background-color: transparent;
    border-radius: 0;
    border: 1px solid transparent;
    -webkit-transition-duration: .1s;
    transition-duration: .1s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow
}

.button-transparent:before {
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;
    border: 1px solid transparent;
    background-color: currentcolor;
    -webkit-transition-duration: .1s;
    transition-duration: .1s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    opacity: 0
}

.button-transparent:hover {
    box-shadow: none
}

.button-transparent:hover:before,
.button-transparent:focus:before {
    opacity: .09375
}

.button-transparent:focus {
    outline: none;
    border-color: transparent;
    box-shadow: 0 0 0 2px
}

.button-transparent:active,
.button-transparent.is-active {
    box-shadow: none
}

.button-transparent:active:before,
.button-transparent.is-active:before {
    opacity: .0625
}

.button-transparent:disabled,
.button-transparent.is-disabled {
    opacity: .5
}

.bg-cover {
    background-size: cover
}

.bg-contain {
    background-size: contain
}

.bg-center {
    background-position: center
}

.bg-top {
    background-position: top
}

.bg-right {
    background-position: right
}

.bg-bottom {
    background-position: bottom
}

.bg-left {
    background-position: left
}

.border {
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, .125)
}

.border-top {
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: rgba(0, 0, 0, .125)
}

.border-right {
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: rgba(0, 0, 0, .125)
}

.border-bottom {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgba(0, 0, 0, .125)
}

.border-left {
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: rgba(0, 0, 0, .125)
}

.rounded {
    border-radius: 3px
}

.circle {
    border-radius: 50%
}

.rounded-top {
    border-radius: 3px 3px 0 0
}

.rounded-right {
    border-radius: 0 3px 3px 0
}

*/ .rounded-bottom {
    border-radius: 0 0 3px 3px
}

.rounded-left {
    border-radius: 3px 0 0 3px
}

.not-rounded {
    border-radius: 0
}

.black,
.dark-gray {
    color: #111
}

.gray,
.mid-gray {
    color: #aaa
}

.silver,
.light-gray {
    color: #ddd
}

.white {
    color: #fff
}

.aqua {
    color: #7fdbff
}

.blue {
    color: #0074d9
}

.navy {
    color: #001f3f
}

html {
    position: relative;
    min-height: 100%
}

body {
    margin-bottom: 40px
}

body {
    font-family: merriweather, serif;
    -webkit-font-feature-settings: 'kern' 1;
    -moz-font-feature-settings: 'kern' 1;
    -o-font-feature-settings: 'kern' 1;
    color: #2e2e2e;
    letter-spacing: .01rem;
    line-height: 1.75rem
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: open sans, sans-serif;
    -webkit-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
    -moz-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
    -o-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
    color: #3a4145
}

.tight-line-height {
    line-height: 1.35rem
}

a {
    color: #0096cc;
    text-decoration: none
}

a:hover,
a h1:hover,
a h2:hover,
a h3:hover,
a h4:hover,
a h5:hover,
a h6:hover,
.link-hover-color {
    color: #007199;
    text-decoration: none
}

a img {
    border: none
}

.hover-background:hover {
    background-color: #007199
}

.link-color {
    color: #0096cc
}

.link-hover-color {
    color: #007199
}

.bg-link-color {
    background-color: #0096cc
}

.bg-link-hover-color {
    background-color: #007199
}

h1,
.h1 {
    font-size: 2.5rem
}

h2,
.h2 {
    font-size: 1.75rem
}

h3,
.h3 {
    font-size: 1.5rem
}

h4,
.h4 {
    font-size: 1.25rem
}

h5,
.h5 {
    font-size: .875rem
}

h6,
.h6 {
    font-size: .75rem
}

.normal-font-size {
    font-size: 1rem
}

.header-font {
    font-family: open sans, sans-serif;
    -webkit-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
    -moz-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
    -o-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1
}

.header-color {
    color: #3a4145
}

.body-font {
    font-family: merriweather, serif;
    -webkit-font-feature-settings: 'kern' 1;
    -moz-font-feature-settings: 'kern' 1;
    -o-font-feature-settings: 'kern' 1
}

.body-color {
    color: #2e2e2e
}

.page-title {
    font-size: 3rem
}

.container {
    max-width: 38em
}

li {
    margin: .4em 0
}

code {
    padding: 1px 3px;
    font-family: Inconsolata, monospace, sans-serif;
    font-size: .85em;
    border: 1px solid #e3edf3;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    background: #f7fafb;
    border-radius: 2px
}

.shadow {
    box-shadow: 3px 3px 10px 0 rgba(128, 128, 128, .4)
}

.no-line-height {
    line-height: 0
}

figure {
    margin: 1rem 0;
    padding: 0
}

figcaption {
    text-align: center;
    font-size: .75rem;
    margin-top: -.4rem;
    line-height: 1.2rem
}

.bg-dark-blue {
    background-color: #2c3e50
}

.bg-splash-gray {
    background-color: #f5f8fa
}

.nav-button {
    font-family: Montserrat, helvetica neue, Helvetica, Arial, sans-serif;
    font-weight: 700
}

.button-height {
    line-height: 2.125rem
}

.clear-both {
    clear: both
}

.square-100 {
    width: 177px;
    height: 173px;
}

body {
    font-family: 'Georgia', serif;
    font-size: 15px;
    color: #000;
    text-align: left;
}

ul {
    margin-left: 0;
}

li {
    list-style-type: circle;
    margin-left: 0;
}

#footer {
    text-align: center;
    font-size: 70%;
    font-style: italic;
}

.square-100 {
    width: 140px;
    height: 140px;
}