{% extends 'index.html' %} {% block header %}
<h1>
    <div class="center">
        <h1 class="page-title mt0 mb1">
            DEMO page
        </h1>

    </div>
    <h2 class="page-description body-font gray mt0 h3 regular">
    </h2>
    </div>
</h1>{% endblock %} {% block content %}
<h3 class="mb2">My projects</h3>
<p>
    <ul>
        Setting up CI using GitHub Actions, Docker and monitoring metrics
    </ul>
    <img src="/static/screen4.png" alt="">
    <ul>
        Setting up CI using GitHub Actions, Docker and monitoring metrics
    </ul>
    <img src="/static/screen2.png" alt="">
</p> {% endblock %}